# This file contains common pin mappings for the BIGTREETECH EBBCan
# Canbus board. To use this config, the firmware should be compiled for the
# STM32G0B1 with "8 MHz crystal" and "USB (on PA11/PA12)" or "CAN bus (on PB0/PB1)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

[mcu EBBCanR]
#serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00
canbus_uuid: 283b0916b234

[temperature_sensor EBB42_R]
sensor_mcu: EBBCanR
sensor_type: temperature_mcu
min_temp: 10
max_temp: 100

[adxl345 right]
cs_pin: EBBCanR: PB12
spi_software_sclk_pin: EBBCanR: PB10
spi_software_mosi_pin: EBBCanR: PB11
spi_software_miso_pin: EBBCanR: PB2
axes_map: x,z,y

[extruder1]
step_pin: EBBCanR: PD0
dir_pin: !EBBCanR: PD1
enable_pin: !EBBCanR: PD2
microsteps: 16
heater_pin: EBBCanR: PB13

sensor_pin: EBBCanR: PA3
sensor_type: PT1000
pullup_resistor: 2210
#pullup_resistor: 2250

# sensor_type:MAX31865
# sensor_pin: EBBCanR: PA4
# spi_bus: spi1
# rtd_nominal_r: 100
# rtd_reference_r: 430
# rtd_num_of_wires: 2

[tmc2209 extruder1]
uart_pin: EBBCanR: PA15
run_current: 0.5
hold_current: 0.3
#stealthchop_threshold: 999999

#[fan]
#pin: EBBCanR: PA0

[heater_fan hotend1_fan]
pin: EBBCanR: PA1
heater: extruder1
heater_temp: 50.0

[neopixel T1_rgb]
pin: EBBCanR:PD3
chain_count: 5
color_order: GRB
initial_RED: 0.3
initial_GREEN: 0.5
initial_BLUE: 0.3


#[bltouch]
#sensor_pin: ^EBBCanR:PB8
#control_pin: EBBCanR:PB9

#[filament_switch_sensor switch_sensor]
#switch_pin: EBBCanR:PB4

#[filament_motion_sensor motion_sensor]
#switch_pin: ^EBBCanR:PB3
